In [1]:
# import package
import os
import pandas as pd
import numpy as np
from scipy.sparse import lil_matrix
import math
import sys
import random
import csv

In [3]:
# read GroupTopic.txt
gt_lines = []
with open('GroupTopic.txt') as gt_f:
    gt_lines = gt_f.readlines()
gt_f.close()

group_id = []
group_organizer = []
group_attribute = []
gt_count = 1
for gt_line in gt_lines:
    if gt_count % 2 == 1:
      gt_id, gt_organizer = gt_line.split()
      group_id.append(int(gt_id[1:]))
      if gt_organizer == 'null':
        group_organizer.append(int(-1))
      else:
        group_organizer.append(int(gt_organizer[1:]))
    else:
      read_one_group_attribute = gt_line.split()
      num_group_attribute_list = []
      for i in range(len(read_one_group_attribute)):
        num_group_attribute_list.append(int(read_one_group_attribute[i][1:]))
      group_attribute.append(num_group_attribute_list)
    gt_count += 1

gt_data = list(zip(group_id, group_organizer, group_attribute))
gt_df = pd.DataFrame(gt_data, columns = ['group_id', 'group_organizer', 'group_attribute'])
gt_df = gt_df[gt_df['group_organizer'] != -1]
gt_df = gt_df.drop('group_organizer', 1)
max_group_id = gt_df['group_id'].max()
group_amount = len(gt_df.index)
gt_df

     group_id                                    group_attribute
0           0  [85, 89, 124, 234, 738, 2527, 3007, 3135, 5915...
1           1                                   [212, 512, 3554]
2           2                                             [1566]
3           3  [244, 309, 1322, 1502, 3336, 4422, 8649, 9816,...
4           4      [638, 9753, 9772, 15067, 15984, 18874, 19061]
5           5                                              [825]
6           6                                        [211, 1573]
7           7  [491, 498, 588, 1091, 1104, 10581, 15117, 1666...
8           8                                        [554, 9792]
9           9  [498, 705, 1074, 1091, 1104, 3250, 15117, 1583...
10         10                          [183, 1676, 10122, 10196]
12         12                            [713, 1273, 3250, 4392]
13         13  [237, 7125, 17366, 20738, 41807, 43062, 50158,...
14         14  [264, 498, 1091, 1273, 4422, 10232, 10261, 105...
15         15                                 [501, 7112, 10578]
16         16                                 [309, 1322, 10290]
17         17  [7929, 9753, 9772, 10002, 15067, 15279, 15377,...
18         18  [1322, 4417, 6126, 8649, 8702, 10290, 15822, 1...
19         19                      [244, 309, 1322, 4417, 10290]
20         20  [491, 498, 588, 713, 1091, 1273, 4392, 4422, 1...
21         21  [60, 75, 79, 80, 83, 4392, 4422, 10451, 10581,...
22         22                                       [185, 21183]
23         23                             [638, 933, 9753, 9772]
24         24  [498, 588, 1091, 1273, 3336, 4422, 8649, 9217,...
25         25                                             [3511]
26         26  [264, 491, 1273, 4392, 4422, 10232, 10581, 17866]
27         27                                   [119, 933, 7929]
28         28            [491, 3250, 10232, 18964, 19491, 74868]
29         29                                 [374, 1566, 15892]
30         30  [717, 1322, 1586, 3336, 3382, 8728, 10290, 180...
..        ...                                                ...
452       452                          [1040, 3833, 3880, 10209]
453       453  [138, 175, 491, 2263, 2278, 3066, 3149, 3541, ...
454       454                                  [675, 713, 17030]
455       455  [444, 687, 1322, 8649, 10290, 18507, 18608, 23...
456       456  [491, 498, 933, 1091, 1273, 4392, 4422, 15117,...
457       457                              [223, 708, 781, 8687]
458       458                             [242, 498, 1273, 4422]
459       459                                   [398, 659, 9886]
460       460                              [242, 371, 491, 3998]
461       461  [264, 498, 638, 713, 1273, 1502, 4392, 4422, 8...
462       462  [99, 716, 4377, 4521, 10481, 10503, 10535, 150...
463       463     [1509, 1793, 4101, 10360, 10503, 15741, 18432]
464       464  [264, 498, 713, 1273, 3336, 4422, 10581, 15116...
465       465  [189, 563, 789, 1040, 1641, 2544, 10164, 17627...
466       466                                              [196]
467       467                           [1644, 2794, 6008, 6265]
468       468  [713, 1112, 1273, 4265, 4422, 9791, 10581, 17866]
469       469                                             [2926]
470       470                   [381, 3833, 16471, 17231, 20346]
471       471  [264, 3250, 3381, 3418, 4422, 6398, 8231, 8649...
472       472                           [1212, 1307, 2088, 8431]
473       473                                              [644]
474       474  [381, 690, 1238, 1579, 10117, 14983, 15401, 17...
475       475         [264, 491, 1193, 1475, 8652, 15156, 19044]
476       476  [381, 389, 1954, 2993, 10263, 15497, 16980, 19...
477       477                         [1429, 7929, 18340, 29702]
478       478  [484, 1307, 2064, 3880, 6364, 10117, 15236, 15...
479       479                        [9772, 10002, 10024, 10413]
480       480  [1237, 1273, 1543, 10050, 10080, 10232, 17665,...
481       481                    [389, 392, 10117, 10232, 15497]

[466 rows x 2 columns]

In [5]:
# read MemberTopic.txt
mt_lines = []
with open('MemberTopic.txt') as mt_f:
    mt_lines = mt_f.readlines()
mt_f.close()

member_id = []
member_attribute = []
mt_count = 1
for mt_line in mt_lines:
    if mt_count % 2 == 1:
      member_id.append(int(mt_line[1:-1]))
    else:
      read_one_member_attribute = mt_line.split()
      num_member_attribute_list = []
      for i in range(len(read_one_member_attribute)):
        num_member_attribute_list.append(int(read_one_member_attribute[i][1:]))
      member_attribute.append(num_member_attribute_list)
    mt_count += 1

mt_data = list(zip(member_id, member_attribute))
mt_df = pd.DataFrame(mt_data, columns = ['member_id', 'member_attribute'])
mt_df = mt_df[mt_df.astype(str)['member_attribute'] != '[]']
max_member_id = mt_df['member_id'].max()
member_amount = len(mt_df.index)
mt_df

       member_id                                   member_attribute
0              0                                       [10485, 498]
1              1  [1201, 914, 933, 638, 590, 726, 242, 1724, 158...
2              2  [10495, 9753, 491, 1201, 638, 2926, 15892, 229...
3              3                               [11660, 11046, 2151]
4              4  [1201, 933, 230, 2899, 1755, 3282, 1923, 228, ...
6              6              [1726, 98876, 218321, 218331, 218341]
9              9     [17110, 15236, 1044, 4392, 15381, 27700, 1998]
10            10                                             [3361]
12            12  [24460, 21133, 4422, 392, 264, 17951, 10581, 2...
15            15             [29791, 29793, 217, 23199, 23960, 381]
16            16                                   [243, 244, 2030]
20            20  [19170, 19174, 2984, 20246, 16864, 15117, 3250...
21            21  [182, 132161, 136645, 77687, 148579, 31254, 77...
22            22                  [2516, 15046, 1176, 18065, 18063]
25            25  [563, 110935, 37381, 594, 41489, 41488, 189, 1...
26            26                 [638, 590, 579, 933, 15478, 17674]
28            28                             [4010, 591, 9772, 713]
29            29  [17030, 713, 17866, 1998, 933, 8652, 1201, 145...
32            32                                              [374]
34            34  [1322, 10290, 482, 8649, 3336, 8702, 3382, 612...
35            35        [498, 17201, 15892, 374, 713, 17030, 15832]
37            37                                              [498]
39            39  [1374, 10290, 4417, 1322, 21136, 444, 1532, 22...
43            43                                     [16400, 15976]
49            49  [1122, 8146, 1933, 15892, 638, 228, 2615, 8652...
50            50  [43507, 10454, 365791, 41680, 17030, 9760, 208...
53            53                                             [3382]
54            54  [223, 206, 15044, 16613, 102166, 106373, 20021...
55            55  [4392, 10232, 392, 2767, 551, 15355, 17225, 30...
56            56  [1372, 17869, 456, 15559, 522, 1369, 10102, 10...
...          ...                                                ...
73633      73633  [5951, 10306, 1983, 4575, 372, 3080, 10161, 37...
73636      73636                                      [6997, 10447]
73637      73637                           [1064, 30928, 563, 9696]
73638      73638                                              [414]
73640      73640  [21441, 18291, 21477, 18292, 9848, 16471, 1533...
73641      73641  [15362, 38306, 17757, 15231, 15233, 48394, 369...
73643      73643                                            [15167]
73647      73647                                         [498, 682]
73648      73648  [1641, 498, 264, 19112, 10374, 1273, 17866, 21...
73649      73649  [264, 240, 230, 5951, 10306, 3714, 132, 6357, ...
73652      73652         [26292, 21133, 21138, 10581, 21136, 16144]
73653      73653                                 [579, 2516, 15322]
73655      73655      [2077, 15112, 20576, 772, 15113, 16728, 2793]
73657      73657  [16271, 242, 491, 933, 1998, 1201, 638, 17030,...
73658      73658  [1998, 29108, 17104, 638, 485, 86, 579, 15046,...
73661      73661  [10579, 10102, 15585, 17325, 14983, 18109, 102...
73663      73663          [4422, 1998, 638, 15413, 933, 16550, 491]
73665      73665                            [10002, 9772, 109, 107]
73666      73666  [311, 26680, 173, 15992, 59614, 258, 17785, 10...
73667      73667  [15892, 726, 2516, 15672, 16330, 5945, 590, 18...
73668      73668                                             [8267]
73670      73670                                      [2471, 16496]
73673      73673               [10232, 4422, 10242, 849, 8652, 491]
73674      73674  [914, 491, 1201, 1322, 244, 10242, 1244, 10277...
73676      73676                                             [1998]
73677      73677                                            [10050]
73680      73680  [1155, 17195, 60, 17866, 10232, 17030, 713, 24...
73681      73681  [240, 3336, 495, 22440, 29431, 16551, 4422, 24...
73682      73682  [6761, 6490, 1526, 1307, 1330, 2088, 2064, 445...
73684      73684  [22320, 10277, 2016, 9131, 2929, 1489, 1246, 1...

[47289 rows x 2 columns]

In [7]:
# read Group-Event folder
group_event_id = []
event_id = []
event_limit = []
event_time = []
event_organizer = []
yes_id = []
no_id = []
maybe_id = []
root = "./GroupEvent"
for i in range(0, 482):
  file = "G" + str(i) + ".txt"
  full_path = os.path.join(root, file)
  ge_group_id = file[:-4]
  with open(full_path) as ge_f:
    ge_lines = ge_f.readlines()
  ge_f.close()
  ge_count = 0
  for ge_line in ge_lines:
    ge_count += 1
    if ge_count % 5 == 0:
      maybe_id.append(ge_line.split())
    elif ge_count % 4 == 0:
      read_one_no_id = ge_line.split()
      num_no_id_list = []
      for i in range(len(read_one_no_id)):
        if read_one_no_id[i] != 'null':
          num_no_id_list.append(int(read_one_no_id[i][1:]))
      no_id.append(num_no_id_list)
    elif ge_count % 3 == 0:
      read_one_yes_id = ge_line.split()
      num_yes_id_list = []
      for i in range(len(read_one_yes_id)):
        if read_one_yes_id[i] != 'null':
          num_yes_id_list.append(int(read_one_yes_id[i][1:]))
      yes_id.append(num_yes_id_list)
    elif ge_count % 2 == 0:
      event_organizer.append(ge_line.split())
    else:
      ge_event_id, ge_event_limit, ge_event_time = ge_line.split()
      event_id.append(int(ge_event_id[1:]))
      event_limit.append(ge_event_limit)
      event_time.append(ge_event_time)
      group_event_id.append(int(ge_group_id[1:]))
    if ge_count == 5:
      ge_count = 0

ge_data = list(zip(group_event_id, event_id, event_limit, event_time, event_organizer, yes_id, no_id, maybe_id))
ge_df = pd.DataFrame(ge_data, columns = ['group_id', 'event_id', 'event_limit', 'event_time', 'event_organizer', 'yes_id', 'no_id', 'maybe_id'])
ge_df[['event_limit', 'event_time']] = ge_df[['event_limit', 'event_time']].astype(int)

# remove column maybe_id
ge_df = ge_df.drop('maybe_id', 1)

# remove useless  columns 
ge_df = ge_df.drop('event_organizer', 1)
ge_df = ge_df.drop('event_limit', 1)
ge_df = ge_df.drop('no_id', 1)
ge_df = ge_df.drop('event_time', 1)
ge_df = ge_df[ge_df.astype(str)['yes_id'] != '[]']
max_event_id = ge_df['event_id'].max()
event_amount = len(ge_df.index) 
ge_df

       group_id  event_id                                             yes_id
0             0       932                                            [48462]
1             0       947                [48462, 56494, 62049, 70873, 48571]
2             0      1742                                            [48462]
3             0      3372                       [48462, 55059, 56494, 70873]
4             0      3373                       [48462, 21224, 27288, 63893]
5             0      6675                                     [31584, 48462]
6             0      7373                              [48462, 62746, 70873]
7             0      7797                        [31584, 48462, 61831, 2526]
8             0      7904                              [48462, 70873, 21224]
9             0      9068                                      [48462, 3911]
10            0      9337                                      [48462, 3911]
11            0      9582                                            [48462]
12            0      9659                                      [48462, 3911]
13            0      9748                                     [48462, 58507]
14            0     10276                                      [48462, 3911]
15            0     10614                                [48462, 3911, 5718]
16            0     10797                                      [48462, 3911]
17            0     11197                               [48462, 70873, 3911]
18            0     11586                               [48462, 70873, 3911]
19            0     11799                                      [48462, 3911]
20            0     12051                 [48462, 51101, 68509, 70873, 3911]
21            0     12147                        [36721, 48462, 68509, 3911]
22            0     12410                        [45569, 48462, 70873, 3911]
23            0     12883                                      [48462, 3911]
24            0     13314                                      [48462, 3911]
25            0     13597                               [48462, 70873, 3911]
26            0     13752                               [48462, 70873, 3911]
27            0     13853                               [48462, 62714, 3911]
28            0     14076                                      [48462, 3911]
29            0     15662                               [48462, 62714, 3911]
...         ...       ...                                                ...
55366       481      3370  [30598, 34367, 55322, 67232, 68872, 70304, 707...
55367       481      4216             [18025, 30598, 34367, 68872, 96, 1723]
55368       481      4224                                       [667, 47349]
55369       481      4264  [30598, 31048, 34367, 35238, 50195, 55840, 582...
55370       481     10702  [24671, 27845, 28721, 55322, 61830, 71426, 667...
55371       481     13871                                            [27845]
55372       481     16408  [28721, 32051, 53435, 56196, 58217, 61830, 672...
55373       481     17023  [47764, 58217, 67232, 68504, 70266, 73274, 444...
55374       481     17473  [23171, 35267, 44555, 45597, 47764, 65815, 672...
55375       481     17750             [59253, 67232, 73274, 444, 667, 18081]
55376       481     18146                   [29572, 47764, 70266, 667, 1537]
55377       481     18393                                 [28721, 667, 5653]
55378       481     19741                         [58217, 70266, 667, 14404]
55379       481     20628     [64179, 69224, 70304, 667, 1537, 15089, 16718]
55380       481     31534                              [20286, 30598, 34608]
55381       481     32141                       [30598, 38405, 52699, 53015]
55382       481     32930                       [30598, 34608, 38405, 54522]
55383       481     33797                       [30598, 35325, 38405, 50035]
55384       481     34584                              [30598, 35325, 56568]
55385       481     34914                       [30598, 44763, 53015, 56568]
55386       481     37415                       [30598, 40774, 55322, 60589]
55387       481     37549                       [30598, 34350, 35325, 38405]
55388       481     38020                                            [30598]
55389       481     38299                                     [30598, 53621]
55390       481     38852                         [667, 58217, 31880, 26310]
55391       481     39040  [24063, 30598, 53015, 54522, 55322, 55840, 565...
55392       481     40188  [24063, 30598, 34608, 41229, 45326, 46797, 553...
55393       481     40672  [30598, 38405, 45326, 52699, 55322, 56568, 622...
55394       481     41507                              [30598, 55322, 55850]
55395       481     42682  [30598, 42330, 47764, 50405, 53481, 54522, 553...

[54061 rows x 3 columns]

In [8]:
# randomly shuffle the rows of ge_df
ge_df = ge_df.sample(frac=1)

# split ge_df into 5 parts
p1, p2, p3, p4, p5 = np.array_split(ge_df, 5)

# train_set_1, test_set_1
train_frames = [p2, p3, p4, p5]
train_set = pd.concat(train_frames)
test_set = p1
train_set

       group_id  event_id                                             yes_id
4417         53      7371  [35944, 36222, 47706, 48964, 57436, 57441, 605...
28236       277      9398                       [34432, 33132, 36083, 39901]
4555         57     53612                               [56784, 1174, 11436]
47625       407     48790                       [42094, 43205, 46607, 25086]
35063       311     34819                                            [38568]
12290       168     40064  [36130, 36785, 36958, 37780, 38630, 59116, 619...
36221       317     43543  [31712, 35112, 47206, 3325, 4603, 10710, 11082...
19423       220     19707                       [34166, 41217, 67214, 23342]
2661         29      7834                                     [54324, 61404]
22920       241     31850                              [21699, 26633, 28105]
4927         66      9953  [21374, 21691, 22975, 36700, 40832, 47885, 702...
38952       331     10618                                     [26015, 48013]
49673       428     46920                                [43449, 361, 44344]
32730       299     36657                                            [38328]
53303       456     16199                              [64811, 48355, 13232]
22641       239     37659                                            [27669]
46116       389      1668                                            [32967]
787          12      8695                                     [56078, 55051]
13354       178     29770                              [36434, 42312, 61021]
11487       165     49791                               [23642, 29192, 2846]
27180       269     51781                              [64814, 33730, 50470]
5478         69     28548  [19909, 22317, 24883, 25104, 25409, 25425, 255...
25537       263       685  [28083, 37281, 37562, 56435, 64150, 69291, 704...
16701       203     10431      [22164, 31584, 34447, 37032, 326, 2428, 7341]
41847       348     31116                                            [38756]
27595       270     55106                              [38778, 44553, 44801]
21740       234      4653                              [24809, 34410, 67934]
19156       218     18213  [48639, 67878, 68249, 20161, 21234, 21963, 269...
15912       198     36134  [4913, 22580, 24296, 70425, 21574, 31597, 3437...
1373         16     19789  [27490, 46677, 53305, 53377, 55002, 59816, 609...
...         ...       ...                                                ...
15636       196     23758  [26888, 27485, 28434, 29842, 29945, 30235, 30241]
10832       159     23744                                     [40137, 63997]
15310       193     25168                              [25991, 30465, 32483]
46680       394     51865         [21430, 20422, 20507, 43649, 48205, 48230]
46671       394     51856                [21430, 26541, 26866, 43649, 44815]
27283       269     53231                                     [33206, 63466]
37021       320     28662                                     [58565, 34537]
27235       269     52583         [46670, 60448, 25650, 34912, 36178, 66997]
30333       287      1865                [40250, 60814, 69832, 27361, 63000]
32435       296     43255                              [33719, 56347, 68988]
16801       203     23507                 [34447, 8038, 10321, 15611, 34591]
22434       239      7075                [23659, 31764, 32005, 55556, 59150]
29317       282     27153  [42843, 52052, 54223, 65831, 68804, 71154, 720...
14691       187     31339                       [36147, 38485, 45415, 50395]
16626       202     43938  [1626, 19805, 21653, 28826, 54294, 987, 6746, ...
15556       195     53758                                     [69182, 22969]
34408       308     45277                                     [11588, 29879]
48384       413     14194  [4157, 26633, 27669, 33649, 37149, 40534, 4255...
52724       450     10271  [38310, 25725, 30689, 30713, 33329, 34499, 386...
32353       296     22785                                     [33719, 56347]
614           9     11935          [36098, 49130, 50697, 55513, 67444, 6240]
29805       284      9818                              [28586, 33606, 61499]
43554       366     26564  [72051, 72492, 18868, 20726, 30204, 31705, 364...
53106       455     11020  [56008, 70370, 73415, 18801, 20599, 20841, 269...
22477       239     11248  [22642, 26021, 27078, 27528, 29340, 30398, 42092]
31053       291     16558                                       [2274, 4251]
36332       317     51556  [38166, 39640, 52171, 66375, 73113, 11677, 349...
49509       427     14632                                     [45368, 12491]
42908       360     23661          [25529, 44323, 64949, 7914, 16071, 21745]
35985       316     19111           [35163, 46142, 53768, 6831, 8255, 18358]

[43248 rows x 3 columns]

In [20]:
# train_member_set
train_member_set = set()
train_amount = len(train_set.index)
for i in range(train_amount):
  yes_id = train_set.iloc[i]['yes_id']
  yes_id = set(yes_id)
  train_member_set.update(yes_id)
len(train_member_set)

52899

In [21]:
# test_member_set
test_member_set = set()
test_amount = len(test_set.index)
for i in range(test_amount):
  yes_id = test_set.iloc[i]['yes_id']
  yes_id = set(yes_id)
  test_member_set.update(yes_id)
len(test_member_set)

26825

In [22]:
# member_set
member_set = set()
member_amount = len(mt_df.index)
for i in range(member_amount):
  member_id = mt_df.iloc[i]['member_id']
  member_set.add(member_id)
len(member_set)

47289

In [23]:
# common_member_set, train & test & mt_df
train_test_common_set = list(set(train_member_set).intersection(test_member_set))
common_member_set = list(set(train_test_common_set).intersection(member_set))
common_member_set = [int(i) for i in common_member_set]
len(common_member_set)

14498

In [25]:
# update mt_df, 32s
member_id = common_member_set
member_attribute = [set() for i in range(len(member_id))]
for i in range(len(mt_df.index)):
  id = int(mt_df.iloc[i]['member_id'])
  if id in member_id:
    index =  member_id.index(id)
    attribute = set(mt_df.iloc[i]['member_attribute'])
    member_attribute[index] = attribute

mt_data = list(zip(member_id, member_attribute))
mt_df = pd.DataFrame(mt_data, columns = ['member_id', 'member_attribute'])
mt_df

       member_id                                   member_attribute
0          65541            {579, 4392, 8652, 498, 2516, 2294, 638}
1          32776  {9349, 392, 3336, 264, 16011, 16270, 7319, 151...
2              9     {15236, 4392, 1998, 1044, 15381, 17110, 27700}
3             10                                             {3361}
4          65552  {3009, 16516, 78565, 455, 206, 8304, 23473, 45...
5             20  {17674, 15117, 914, 20245, 20246, 28824, 17306...
6             21  {132161, 148579, 136645, 563, 10579, 182, 7768...
7          65556  {2529, 6786, 10306, 1322, 2513, 242, 10002, 10...
8          65558                 {713, 8652, 1998, 1201, 1459, 638}
9          32793                                             {2369}
10         32800                                             {9760}
11            34  {774, 3336, 2335, 2852, 1322, 10290, 3382, 696...
12         32804                                            {10102}
13            37                                              {498}
14         32806                                {498, 15939, 16660}
15            39  {4417, 15044, 15720, 1322, 1532, 21136, 10290,...
16         32807                                 {7112, 10578, 501}
17         32808  {15672, 933, 1322, 16330, 27212, 24525, 18263,...
18         65574  {15233, 10117, 17030, 14983, 15117, 15892, 166...
19         65578                                  {10352, 221, 317}
20         32816      {611, 1273, 590, 15892, 1334, 726, 5945, 638}
21         32817                       {23538, 18082, 97179, 16902}
22            50  {9760, 9696, 21441, 17030, 15337, 19882, 41680...
23         32818                                             {9857}
24         65585                    {713, 8652, 1998, 15247, 20246}
25         32822  {15236, 133, 17030, 9349, 264, 158729, 44941, ...
26         65592  {19585, 106373, 17030, 264, 7319, 15139, 933, ...
27         65593  {3200, 264, 18063, 914, 1176, 1570, 16686, 120...
28         65596                                        {1201, 781}
29            62  {18688, 1153, 17665, 16770, 772, 370311, 264, ...
...          ...                                                ...
14468      32697  {10242, 135, 2064, 16660, 17306, 411, 17201, 1...
14469      65467                      {933, 590, 19666, 15892, 638}
14470      32701  {228, 4005, 1957, 2532, 10117, 389, 2538, 2027...
14471      32704  {7077, 15046, 17030, 8649, 17866, 15117, 1998,...
14472      32707  {38306, 15139, 933, 17030, 1502, 4392, 713, 17...
14473      32708  {130, 131, 1122, 21380, 17923, 491, 8652, 1148...
14474      65479  {130, 53124, 25222, 25223, 3336, 15760, 16144,...
14475      32712  {38306, 611, 2979, 713, 588, 16370, 16660, 202...
14476      32713                                              {414}
14477      32714  {4417, 933, 774, 15046, 3336, 17785, 16330, 17...
14478      32715  {361, 1482, 1737, 76, 18263, 1903, 2064, 240, ...
14479      32717                         {256, 17866, 19957, 17030}
14480      65487  {132, 15892, 20246, 7319, 933, 15782, 21417, 1...
14481      65491  {130, 1676, 30371, 21542, 2615, 183, 10042, 15...
14482      65493  {26369, 26757, 264, 99325, 15892, 21013, 7319,...
14483      32727                                    {242, 8652, 85}
14484      65496  {17030, 264, 16011, 15117, 15634, 20754, 15892...
14485      32732  {9349, 17030, 392, 264, 15117, 15892, 138528, ...
14486      65507  {15236, 17028, 24325, 681, 15405, 38972, 20060...
14487      32740  {185, 1091, 17030, 551, 264, 38727, 17866, 442...
14488      32742     {18724, 15046, 233, 28718, 70998, 15832, 1566}
14489      32744                {24291, 23657, 23851, 19954, 19036}
14490      32746  {2113, 6435, 18371, 2500, 3620, 3336, 2734, 84...
14491      65515  {15892, 7319, 100248, 100249, 100250, 933, 120...
14492      32749                {9696, 713, 653, 1201, 17201, 1238}
14493      65523  {512, 15236, 10117, 16645, 2064, 16, 7319, 706...
14494      65525  {105477, 68229, 264, 15760, 15892, 16660, 6374...
14495      65526                                              {254}
14496      32763                          {264, 2154, 41117, 10439}
14497      65534                                     {10460, 56535}

[14498 rows x 2 columns]

In [26]:
# group_attribute_set
group_amount = len(gt_df.index)
group_attribute_set = []
for i in range(group_amount):
  one_group_attribute = gt_df.iloc[i]['group_attribute']
  for j in range(len(one_group_attribute)):
    if one_group_attribute[j] not in group_attribute_set:
      group_attribute_set.append(one_group_attribute[j])
group_attribute_set = set(group_attribute_set)
print(len(group_attribute_set))

1132

In [27]:
# member_attribute_set
member_amount = len(mt_df.index)
member_attribute_set = set()
for i in range(member_amount):
  one_member_attribute = mt_df.iloc[i]['member_attribute']
  member_attribute_set.update(one_member_attribute)
print(len(member_attribute_set))

10790

In [28]:
# group&member attribute
gm_attribute = group_attribute_set.intersection(member_attribute_set)
len(gm_attribute)

1082

In [30]:
# remove member_attribute (not in gm_attribute), and update mt_df
new_member_id = []
new_member_attribute = []
member_amount = len(mt_df.index)
for i in range(member_amount):
  new_member_id.append(mt_df.iloc[i]['member_id'])
  one_old_member_attribute = mt_df.iloc[i]['member_attribute']
  one_new_member_attribute = gm_attribute.intersection(one_old_member_attribute)
  new_member_attribute.append(one_new_member_attribute)

mt_data = list(zip(new_member_id, new_member_attribute))
mt_df = pd.DataFrame(mt_data, columns = ['member_id', 'member_attribute'])
mt_df

       member_id                                   member_attribute
0          65541            {579, 4392, 8652, 498, 2516, 2294, 638}
1          32776  {9349, 392, 3336, 264, 16011, 16270, 7319, 439...
2              9                   {15236, 4392, 1998, 1044, 15381}
3             10                                             {3361}
4          65552  {3009, 78565, 455, 206, 23473, 659, 2516, 7029...
5             20  {17674, 15117, 914, 20246, 15261, 1566, 542, 3...
6             21                    {10579, 563, 182, 31254, 17627}
7          65556   {10306, 1322, 2513, 242, 10002, 1074, 9753, 638}
8          65558                 {713, 8652, 1998, 1201, 1459, 638}
9          32793                                                 {}
10         32800                                             {9760}
11            34  {4417, 774, 3336, 8649, 1322, 6126, 2030, 1029...
12         32804                                            {10102}
13            37                                              {498}
14         32806                                       {498, 16660}
15            39  {4417, 15044, 15720, 1322, 21136, 10290, 9816,...
16         32807                                 {7112, 10578, 501}
17         32808  {933, 15832, 16330, 1322, 27212, 24525, 23473,...
18         65574  {15233, 10117, 17030, 14983, 15117, 15892, 166...
19         65578                                  {10352, 317, 221}
20         32816      {611, 638, 590, 15892, 1334, 726, 1273, 5945}
21         32817                                            {16902}
22            50  {9760, 21441, 9696, 17030, 15337, 19882, 20816...
23         32818                                             {9857}
24         65585                           {713, 8652, 1998, 20246}
25         32822  {15236, 9349, 133, 17030, 264, 31254, 20246, 3...
26         65592  {19585, 17030, 264, 7319, 933, 16814, 1459, 13...
27         65593  {1570, 15043, 223, 4422, 264, 17866, 511, 206,...
28         65596                                        {1201, 781}
29            62  {18688, 1153, 17665, 772, 264, 32778, 15117, 3...
...          ...                                                ...
14468      32697  {226, 4422, 15046, 491, 588, 8652, 1998, 2064,...
14469      65467                      {933, 590, 19666, 15892, 638}
14470      32701    {228, 10117, 389, 2532, 2027, 2064, 10424, 381}
14471      32704  {17030, 15046, 8649, 17866, 15117, 1998, 16144...
14472      32707  {38306, 933, 17030, 4392, 713, 17866, 638, 588...
14473      32708  {130, 131, 21380, 1122, 491, 8652, 23707, 2263...
14474      65479  {130, 3336, 16144, 21136, 16784, 3475, 17810, ...
14475      32712  {38306, 611, 713, 588, 16370, 16660, 20246, 15...
14476      32713                                              {414}
14477      32714  {4417, 185, 933, 15046, 774, 3336, 8649, 16330...
14478      32715                            {2064, 1737, 240, 1903}
14479      32717                         {256, 17866, 19957, 17030}
14480      65487  {132, 15892, 20246, 7319, 933, 15018, 173, 120...
14481      65491  {16352, 130, 1122, 611, 2615, 21542, 15046, 71...
14482      65493  {26369, 264, 15892, 7319, 17825, 933, 23473, 1...
14483      32727                                    {242, 8652, 85}
14484      65496  {17030, 264, 16011, 15117, 15892, 7319, 4392, ...
14485      32732  {9349, 17030, 16550, 392, 264, 4422, 8649, 178...
14486      65507                  {17028, 15236, 24325, 681, 15405}
14487      32740    {1091, 1273, 17030, 4422, 264, 17866, 498, 185}
14488      32742                        {15832, 18724, 15046, 1566}
14489      32744                                                 {}
14490      32746                   {2113, 18371, 3336, 2734, 21136}
14491      65515  {15892, 7319, 933, 1201, 23473, 1459, 15672, 5...
14492      32749                     {9696, 713, 1201, 17201, 1238}
14493      65523  {512, 15236, 16645, 10117, 2615, 4265, 235, 15...
14494      65525  {68229, 264, 16660, 15892, 7319, 933, 4392, 12...
14495      65526                                              {254}
14496      32763                                       {264, 10439}
14497      65534                                            {10460}

[14498 rows x 2 columns]

In [32]:
# remove group_attribute (not in gm_attribute), and update gt_df
new_group_id = []
new_group_attribute = []
group_amount = len(gt_df.index)
for i in range(group_amount):
  new_group_id.append(gt_df.iloc[i]['group_id'])
  one_old_group_attribute = gt_df.iloc[i]['group_attribute']
  one_new_group_attribute = gm_attribute.intersection(one_old_group_attribute)
  new_group_attribute.append(one_new_group_attribute)

gt_data = list(zip(new_group_id, new_group_attribute))
gt_df = pd.DataFrame(gt_data, columns = ['group_id', 'group_attribute'])
gt_df

     group_id                                    group_attribute
0           0  {3007, 738, 23842, 44612, 234, 19119, 16816, 1...
1           1                                   {512, 3554, 212}
2           2                                             {1566}
3           3  {19168, 10306, 4422, 3336, 8649, 1322, 10290, ...
4           4      {9772, 15984, 19061, 9753, 18874, 15067, 638}
5           5                                              {825}
6           6                                        {211, 1573}
7           7  {1091, 17030, 491, 588, 15117, 1104, 498, 1666...
8           8                                        {9792, 554}
9           9  {705, 1091, 18339, 17030, 16330, 17866, 15117,...
10         10                          {10122, 10196, 1676, 183}
11         12                            {4392, 713, 3250, 1273}
12         13  {20738, 237, 50158, 41807, 50159, 7125, 17366,...
13         14  {1091, 4422, 17030, 264, 17866, 15117, 498, 15...
14         15                                 {7112, 10578, 501}
15         16                                 {1322, 10290, 309}
16         17  {18340, 16729, 18873, 9772, 9753, 15279, 15984...
17         18  {4417, 16481, 8649, 1322, 47820, 6126, 15822, ...
18         19                      {4417, 1322, 10290, 244, 309}
19         20  {38306, 1091, 4422, 17030, 4392, 713, 17866, 4...
20         21  {4422, 17030, 4392, 17866, 75, 23083, 79, 80, ...
21         22                                       {185, 21183}
22         23                             {9753, 9772, 933, 638}
23         24  {9217, 15233, 1091, 4422, 17030, 3336, 8649, 1...
24         25                                             {3511}
25         26  {4422, 264, 4392, 17866, 491, 10581, 10232, 1273}
26         27                                   {7929, 933, 119}
27         28            {19491, 491, 3250, 18964, 74868, 10232}
28         29                                 {15892, 374, 1566}
29         30  {3336, 1322, 18508, 717, 18093, 23184, 1586, 1...
..        ...                                                ...
436       452                          {1040, 3833, 3880, 10209}
437       453  {17570, 2278, 15079, 138, 491, 21309, 3149, 28...
438       454                                  {713, 675, 17030}
439       455  {115750, 8649, 1322, 18507, 26985, 28683, 9079...
440       456  {1091, 933, 4422, 17030, 4392, 15305, 17866, 4...
441       457                              {8687, 708, 781, 223}
442       458                             {1273, 242, 498, 4422}
443       459                                   {9886, 659, 398}
444       460                              {242, 371, 3998, 491}
445       461  {1502, 4422, 17030, 264, 713, 4392, 17866, 865...
446       462  {18432, 22080, 99, 15013, 10503, 10535, 4521, ...
447       463     {18432, 1793, 4101, 1509, 10503, 10360, 15741}
448       464  {15236, 4422, 17030, 264, 713, 3336, 17866, 15...
449       465  {1641, 1040, 2544, 45233, 563, 10164, 789, 182...
450       466                                              {196}
451       467                           {6008, 6265, 2794, 1644}
452       468  {4422, 713, 4265, 17866, 10581, 1112, 1273, 9791}
453       469                                             {2926}
454       470                   {17231, 16471, 3833, 20346, 381}
455       471  {18371, 4422, 8231, 264, 8649, 3250, 9714, 102...
456       472                           {2088, 1307, 1212, 8431}
457       473                                              {644}
458       474  {45890, 10117, 14983, 18109, 15401, 1579, 1921...
459       475         {1475, 19044, 264, 1193, 491, 8652, 15156}
460       476  {1954, 143394, 389, 15497, 19882, 32201, 37673...
461       477                         {7929, 18340, 1429, 29702}
462       478  {484, 10117, 15236, 16165, 3880, 15720, 17028,...
463       479                        {10024, 10002, 9772, 10413}
464       480  {10080, 17665, 10050, 17986, 1543, 32778, 3642...
465       481                    {389, 10117, 392, 15497, 10232}

[466 rows x 2 columns]

In [33]:
# re-caculate member_attribute_set
member_amount = len(mt_df.index)
member_attribute_set = set()
for i in range(member_amount):
  one_member_attribute = mt_df.iloc[i]['member_attribute']
  member_attribute_set.update(one_member_attribute)
print(len(member_attribute_set))

1082

In [34]:
# re-caculate group_attribute_set
group_amount = len(gt_df.index)
group_attribute_set = set()
for i in range(group_amount):
  one_group_attribute = gt_df.iloc[i]['group_attribute']
  group_attribute_set.update(one_group_attribute)
print(len(group_attribute_set))

1082

In [36]:
# update train_set(rm member not in common_member_set)
common_member_set = set(common_member_set)
new_yes_id = []
train_set_amount = len(train_set.index)
# pirnt(train)
for i in range(train_set_amount):
  yes_id = train_set.iloc[i]['yes_id']
  yes_id = set(yes_id)
  yes_id = common_member_set.intersection(yes_id)
  new_yes_id.append(yes_id)
group_id = train_set['group_id']
event_id = train_set['event_id']
train_data = list(zip(group_id, event_id, new_yes_id))
train_set = pd.DataFrame(train_data, columns = ['group_id', 'event_id', 'yes_id'])
train_set

       group_id  event_id                                             yes_id
0            53      7371  {57441, 97, 60515, 35944, 3339, 47706, 66486, ...
1           277      9398                              {34432, 33132, 39901}
2            57     53612                                      {56784, 1174}
3           407     48790                                            {42094}
4           311     34819                                                 {}
5           168     40064         {38630, 59116, 36785, 63667, 37780, 36958}
6           317     43543                        {31712, 11082, 4603, 13332}
7           220     19707                                     {41217, 34166}
8            29      7834                                            {54324}
9           241     31850                                            {28105}
10           66      9953                       {40832, 70226, 21374, 22975}
11          331     10618                                     {48013, 26015}
12          428     46920                                            {43449}
13          299     36657                                                 {}
14          456     16199                              {13232, 64811, 48355}
15          239     37659                                                 {}
16          389      1668                                            {32967}
17           12      8695                                            {55051}
18          178     29770                                            {61021}
19          165     49791                                            {23642}
20          269     51781                              {64814, 33730, 50470}
21           69     28548  {25409, 25989, 19909, 42313, 32587, 22317, 432...
22          263       685                {37281, 69291, 28083, 72757, 37562}
23          203     10431                                     {31584, 37032}
24          348     31116                                            {38756}
25          270     55106                                                 {}
26          234      4653                                            {67934}
27          218     18213  {12418, 73481, 64017, 68249, 19993, 32667, 690...
28          198     36134                                     {24296, 38476}
29           16     19789                                            {46677}
...         ...       ...                                                ...
43218       196     23758                              {26888, 28434, 29842}
43219       159     23744                                            {63997}
43220       193     25168                                     {32483, 25991}
43221       394     51865                       {43649, 48230, 21430, 20422}
43222       394     51856                       {43649, 26866, 26541, 21430}
43223       269     53231                                                 {}
43224       320     28662                                            {34537}
43225       269     52583                {60448, 34912, 46670, 25650, 36178}
43226       287      1865                                     {40250, 60814}
43227       296     43255                                            {56347}
43228       203     23507                                                 {}
43229       239      7075                       {31764, 55556, 32005, 59150}
43230       282     27153  {7232, 9024, 42843, 68804, 15877, 7366, 27274,...
43231       187     31339                                            {36147}
43232       202     43938                   {21653, 54294, 1626, 987, 19805}
43233       195     53758                                            {22969}
43234       308     45277                                     {11588, 29879}
43235       413     14194  {71495, 61483, 971, 55821, 43760, 55761, 61906...
43236       450     10271   {8100, 66533, 62086, 51941, 47304, 38630, 30713}
43237       296     22785                                            {56347}
43238         9     11935                        {6240, 50697, 55513, 67444}
43239       284      9818                                            {28586}
43240       366     26564                                     {18868, 72492}
43241       455     11020  {70370, 35299, 73415, 56008, 20841, 26984, 323...
43242       239     11248                              {42092, 26021, 27078}
43243       291     16558                                       {2274, 4251}
43244       317     51556         {34982, 66375, 52171, 48021, 38166, 39640}
43245       427     14632                                     {45368, 12491}
43246       360     23661                        {25529, 21745, 7914, 44323}
43247       316     19111                                      {35163, 6831}

[43248 rows x 3 columns]

In [38]:
# matrix UTS， 8min 4s
member_amount = len(mt_df.index)
column_amount = 1
np_mt = mt_df.values
UTS = np.zeros((member_amount, member_amount), dtype=float)
for i in range(member_amount):
  i_attribute = np_mt[i][1]
  for j in range(column_amount, member_amount):
    j_attribute = np_mt[j][1]
    com_attribute = i_attribute.intersection(j_attribute)
    numer = float(len(com_attribute))
    denom = float(len(i_attribute) + len(j_attribute) - len(com_attribute))
    if denom != 0:
      UTS[i][j] = numer / denom
      UTS[j][i] = UTS[i][j]
  column_amount += 1

In [41]:
# member, even_set, 3min 7s
train_amount = len(train_set.index)
member_amount = len(mt_df.index)
index = [*range(member_amount)]
member_id = mt_df['member_id']
dictionary = dict(zip(index, member_id))
np_train = train_set.values
member_event_set = [set() for i in range(member_amount)]
for i in range(train_amount):
  member_set = np_train[i][2]
  for j in member_set:
    member_index = -1
    for key, value in dictionary.items():
      if j == value:
        member_index = key
        break
    member_event_set[member_index].add(np_train[i][1])

me_data = list(zip(member_id, member_event_set))
me_set = pd.DataFrame(me_data, columns = ['member_id', 'member_event_set'])
me_set

       member_id                                   member_event_set
0          65541                       {39785, 19787, 14156, 54883}
1          32776  {28025, 29044, 33686, 36822, 39833, 34650, 33143}
2              9                         {40227, 4559, 5259, 14199}
3             10                                       {4650, 4037}
4          65552  {45313, 137, 33553, 21523, 3238, 3241, 15151, ...
5             20                                             {3537}
6             21  {32869, 19686, 18150, 43525, 38633, 33738, 435...
7          65556  {608, 11655, 41578, 395, 40203, 42645, 41079, ...
8          65558         {37443, 42885, 33833, 20268, 42193, 42194}
9          32793                                            {40534}
10         32800  {42649, 42014, 1448, 1449, 1450, 31532, 11309,...
11            34  {52608, 52611, 52612, 52613, 52614, 52616, 526...
12         32804  {31884, 11149, 25872, 24726, 14615, 35862, 143...
13            37  {35456, 12033, 13569, 9731, 33923, 3077, 37507...
14         32806  {13698, 36102, 25863, 27400, 26259, 31513, 106...
15            39  {7873, 7618, 3396, 19751, 18282, 44331, 4268, ...
16         32807           {23015, 23057, 50290, 50355, 958, 29662}
17         32808  {19749, 55017, 55019, 55020, 36753, 53490, 534...
18         65574  {40413, 51832, 18957, 42861, 40973, 51823, 195...
19         65578                                 {54817, 6929, 719}
20         32816                                            {25481}
21         32817                       {20697, 24419, 19332, 23087}
22            50                {38693, 28038, 32590, 40499, 30751}
23         32818  {28548, 33796, 36747, 10643, 25626, 38433, 335...
24         65585                                             {4182}
25         32822  {35971, 40675, 38339, 4746, 5293, 31855, 276, ...
26         65592  {27296, 2207, 32323, 14405, 54886, 20773, 3081...
27         65593                                            {14674}
28         65596                       {12241, 17564, 12637, 13030}
29            62  {37440, 44867, 54340, 7527, 54395, 43213, 4717...
...          ...                                                ...
14468      32697  {5472, 15233, 42279, 39416, 15721, 21064, 8300...
14469      65467  {11650, 2436, 12044, 2582, 6167, 6168, 3760, 9...
14470      32701  {40992, 40993, 41956, 33703, 30093, 30414, 243...
14471      32704                       {43528, 52394, 17718, 43527}
14472      32707         {27552, 27811, 26918, 23787, 26221, 23673}
14473      32708                                            {24734}
14474      65479  {12611, 13256, 18957, 11949, 40147, 11732, 12318}
14475      32712                              {29800, 31180, 47248}
14476      32713                 {25800, 27721, 9935, 10479, 26394}
14477      32714                                     {28224, 26391}
14478      32715  {8962, 41763, 295, 24072, 7376, 21302, 6780, 8...
14479      32717                       {46704, 23330, 22684, 46703}
14480      65487                                       {4306, 2546}
14481      65491                           {4267, 4060, 7005, 5647}
14482      65493                   {11170, 20718, 4913, 309, 16574}
14483      32727  {11138, 42499, 21890, 18957, 11412, 37654, 103...
14484      65496  {17570, 21070, 21491, 18868, 21494, 16889, 18940}
14485      32732                           {7888, 906, 3500, 42640}
14486      65507                                      {3778, 49562}
14487      32740           {7074, 31460, 29444, 5769, 23087, 28820}
14488      32742  {51937, 617, 44745, 51945, 44748, 44746, 38542...
14489      32744                                     {36264, 18375}
14490      32746                                            {38638}
14491      65515                         {8064, 14979, 6724, 30997}
14492      32749  {38564, 24357, 38565, 30053, 40973, 6702, 3697...
14493      65523                                 {9146, 8347, 9294}
14494      65525  {27296, 54049, 31169, 43302, 41385, 54986, 714...
14495      65526  {44320, 44321, 34889, 29555, 572, 45751, 46231...
14496      32763  {1025, 7298, 33151, 35975, 43273, 43274, 24974...
14497      65534                                 {5378, 5811, 7595}

[14498 rows x 2 columns]

In [43]:
# matrix Sim, 11min 34s
member_amount = len(mt_df.index)
column_amount = 1
np_me = me_set.values
Sim = np.zeros((member_amount, member_amount), dtype=float)
for i in range(member_amount):
  i_event = np_me[i][1]
  for j in range(column_amount, member_amount):
    j_event = np_me[j][1]
    com_event = i_event.intersection(j_event)
    numer = float(len(com_event))
    denom = float(len(i_event) + len(j_event) - len(com_event))
    Sim[i][j] += UTS[i][j]
    if denom != 0:
      Sim[i][j] += (numer / denom)
    Sim[j][i] = Sim[i][j]
  column_amount += 1

In [44]:
# Neighbor(a), 2min 38s, attention!!!! is a_index, not a_id
member_amount = len(mt_df.index)
index = [*range(member_amount)]
K = 10
neighbor = [set() for i in range(member_amount)]
for i in range(member_amount):
  index_Sim = zip(index, Sim[i])
  nonzero_index_Sim = [i for i in index_Sim if i[1] > 0]
  if len(nonzero_index_Sim) >= K:
    sorted_index_Sim = sorted(nonzero_index_Sim, key=lambda x: x[1], reverse=True)
    for j in range(K):
      neighbor[i].add(sorted_index_Sim[j][0])

In [46]:
# update test_set(rm member not in common_member_set)
common_member_set = set(common_member_set)
new_yes_id = []
test_set_amount = len(test_set.index)
for i in range(test_set_amount):
  yes_id = test_set.iloc[i]['yes_id']
  yes_id = set(yes_id)
  yes_id = common_member_set.intersection(yes_id)
  new_yes_id.append(yes_id)
group_id = test_set['group_id']
event_id = test_set['event_id']
test_data = list(zip(group_id, event_id, new_yes_id))
test_set = pd.DataFrame(test_data, columns = ['group_id', 'event_id', 'yes_id'])
test_set

       group_id  event_id                                             yes_id
0            17     55338                                            {31280}
1           340     32714  {46336, 12833, 18594, 20322, 10468, 47173, 202...
2           215     42192  {31649, 62277, 50220, 54030, 24405, 52469, 592...
3           231     25554  {21824, 25634, 34882, 27874, 30691, 22791, 252...
4           469     19402                                     {16553, 60262}
5           447     49573                {41384, 38410, 55052, 47286, 42714}
6           201     25318                              {34865, 25787, 33638}
7           309     11861  {49505, 41122, 37, 39237, 69957, 66856, 29834,...
8           168     11411  {69154, 7970, 8034, 72932, 47398, 26639, 67987...
9           187     18608  {64, 23682, 354, 26950, 9320, 5290, 66282, 221...
10          431     18502                                             {6079}
11          199       584                              {67628, 68669, 50686}
12          384     12277                              {11106, 60388, 21556}
13          330     13316  {62593, 63972, 35781, 9510, 36073, 44618, 5073...
14          171     22058                                     {23683, 12254}
15          204     51684           {35200, 2276, 53927, 55626, 9295, 28693}
16          299     43092                                     {12398, 30063}
17          130     13805                                            {50469}
18          369     20043                                             {8393}
19           76     38461  {45569, 36836, 3593, 61296, 22577, 72211, 5838...
20          190     33425         {26501, 45288, 26932, 41493, 46041, 22170}
21           28      4681                                     {20825, 63317}
22           78     44096                                            {14173}
23          168     37010         {52397, 26639, 37176, 60985, 58714, 54558}
24           98     51563  {18176, 54529, 19842, 61703, 15754, 60173, 174...
25           42      7267                                             {1658}
26          274     12769                                     {60200, 38155}
27          165     49948                                            {23642}
28          216      2069                                     {30088, 38501}
29          361     44253                       {41072, 58006, 55854, 58431}
...         ...       ...                                                ...
10783       155     22044                       {45074, 22211, 21546, 23804}
10784       468       693  {49922, 7204, 57030, 31975, 59211, 60238, 5070...
10785       264      1374                                            {30063}
10786       447      8264                              {41384, 42714, 47286}
10787       461      4514                                            {54666}
10788       369     10659                               {44346, 4091, 66765}
10789       378     54657                         {72338, 44436, 173, 65014}
10790       308     44570                              {23827, 64052, 29879}
10791       284     12488                                            {28586}
10792       162     22129                                            {20168}
10793       178     17813                              {28434, 68571, 49759}
10794       335     10169                {64004, 67654, 62348, 22967, 65599}
10795       168       687                               {39032, 63994, 4372}
10796       444     29574           {38695, 19754, 65195, 57521, 9426, 7230}
10797       148     37146                                            {63997}
10798       247     26716                        {30554, 31251, 30572, 4372}
10799       178     22637                                            {24790}
10800        74     39784                               {50588, 7227, 14684}
10801        94     24253                              {34578, 54372, 34426}
10802       443     27406                                     {32009, 32245}
10803       356     28242                              {18675, 66087, 18639}
10804       327      2583   {31523, 44489, 31889, 8306, 29523, 38295, 20631}
10805       268      5207                                {3340, 9606, 32742}
10806       252     21280                                     {42714, 67659}
10807       168     30682                                     {33044, 48119}
10808       172     20419  {59528, 72396, 21710, 68723, 16436, 22010, 19068}
10809       383     32499  {46336, 44064, 44736, 52806, 41191, 13015, 682...
10810       215      7585                              {31649, 62267, 52469}
10811       202     33293                                       {22937, 987}
10812       187     30497  {47332, 31012, 26950, 32190, 53993, 36147, 53278}

[10813 rows x 3 columns]

In [48]:
# test_event, test_even_attibute
group_id = []
for i in range(len(gt_df.index)):
  group_id.append(gt_df.iloc[i]['group_id'])
test_amount = len(test_set.index)
group_attribute = gt_df['group_attribute']
event_attribute = [set() for i in range(test_amount)]
even_id = test_set['event_id']
for i in range(test_amount):
  one_group_id = test_set.iloc[i]['group_id']
  if one_group_id in group_id:
    group_index = group_id.index(one_group_id)
    one_event_attribute = group_attribute[group_index]
    event_attribute[i] = one_event_attribute

test_et_data = list(zip(even_id, event_attribute))
test_et_set = pd.DataFrame(test_et_data, columns = ['even_id', 'event_attribute'])
test_et_set

       even_id                                    event_attribute
0        55338  {18340, 16729, 18873, 9772, 9753, 15279, 15984...
1        32714                            {4392, 185, 4446, 1903}
2        42192              {10209, 781, 17742, 659, 10102, 1238}
3        25554                           {2513, 106, 10306, 4422}
4        19402                                             {2926}
5        49573                                        {9792, 954}
6        25318                                   {5945, 726, 590}
7        11861  {2272, 16996, 4422, 18854, 4392, 713, 17866, 1...
8        11411  {933, 17030, 15832, 16330, 17866, 60589, 242, ...
9        18608                                             {1201}
10       18502  {1760, 2787, 18151, 1768, 2479, 14991, 596, 85...
11         584                                              {129}
12       12277  {42880, 30474, 51212, 35600, 42879, 185, 18074...
13       13316                                              {495}
14       22058                          {1245, 10209, 10164, 789}
15       51684                                              {644}
16       43092                {705, 3105, 491, 15819, 590, 12605}
17       13805                                   {2479, 596, 871}
18       20043                                                 {}
19       38461  {1760, 24087, 871, 18151, 23720, 1546, 2479, 5...
20       33425                                              {591}
21        4681            {19491, 491, 3250, 18964, 74868, 10232}
22       44096                                    {506, 772, 222}
23       37010  {933, 17030, 15832, 16330, 17866, 60589, 242, ...
24       51563  {10306, 1322, 17674, 16144, 10290, 244, 9816, ...
25        7267  {15360, 15362, 18978, 264, 15113, 17866, 2767,...
26       12769                            {1161, 579, 15892, 638}
27       49948                                              {494}
28        2069   {52004, 29637, 778192, 15026, 15027, 15028, 184}
29       44253                                              {183}
...        ...                                                ...
10783    22044        {1824, 417, 10209, 2096, 659, 18109, 15582}
10784      693  {4422, 713, 4265, 17866, 10581, 1112, 1273, 9791}
10785     1374          {1475, 264, 713, 1201, 498, 15892, 18164}
10786     8264                                        {9792, 954}
10787     4514  {1502, 4422, 17030, 264, 713, 4392, 17866, 865...
10788    10659                                                 {}
10789    54657  {38852, 4165, 4422, 15832, 2600, 16330, 20107,...
10790    44570                                             {6922}
10791    12488                         {1322, 6627, 10290, 10173}
10792    22129                                              {212}
10793    17813       {6785, 484, 10117, 2064, 16502, 17882, 6364}
10794    10169       {4422, 264, 15992, 15117, 17201, 1112, 1273}
10795      687  {933, 17030, 15832, 16330, 17866, 60589, 242, ...
10796    29574       {25531, 30533, 491, 21133, 6672, 24569, 411}
10797    37146                              {10347, 99, 1670, 95}
10798    26716                                             {9964}
10799    22637       {6785, 484, 10117, 2064, 16502, 17882, 6364}
10800    39784  {4422, 2471, 264, 8550, 13257, 17866, 30857, 2...
10801    24253  {17124, 2278, 3336, 61161, 63660, 2767, 16144,...
10802    27406                         {4392, 17969, 4422, 16575}
10803    28242                 {21133, 18740, 19189, 10454, 2263}
10804     2583                                        {506, 2767}
10805     5207                                      {24396, 1566}
10806    21280  {611, 1273, 4422, 3336, 713, 8649, 17866, 1589...
10807    30682  {933, 17030, 15832, 16330, 17866, 60589, 242, ...
10808    20419             {1193, 15018, 8652, 15117, 501, 17301}
10809    32499                                              {185}
10810     7585              {10209, 781, 17742, 659, 10102, 1238}
10811    33293  {10051, 31494, 553, 16714, 20367, 20368, 23537...
10812    30497                                             {1201}

[10813 rows x 2 columns]

In [49]:
# matrix member-event, UE_test, 57s
member_amount = len(mt_df.index)
event_amount = len(test_set.index)
index = [*range(member_amount)]
dictionary = dict(zip(index, mt_df['member_id']))
UE_test = np.zeros((member_amount, event_amount), dtype=int)
for i in range(event_amount):
  member_id = test_set.iloc[i]['yes_id']
  for j in member_id:
    for key, value in dictionary.items():
      if j == value:
        UE_test[key][i] = 1
        break

In [ ]:
# matrix pred
threshold = 0.5
member_amount = len(mt_df.index)
event_amount = len(test_set.index)
pred = np.zeros((member_amount, event_amount), dtype=float)
for i in range(member_amount):
  i_attribute = mt_df.iloc[i]['member_attribute']
  i_neighbor = neighbor[i]
  sum_R_a = len(UE_test[i].nonzero())
  R_a = float(sum_R_a) / event_amount
  for j in range(event_amount):
    one_event_attribute = event_attribute[j]
    pred_numer = 0
    pred_denom = 0
    behind_plus = 0
    for n in i_neighbor:
      n_neighbor_attribute = mt_df.iloc[n]['member_attribute']
      n_neighbor_attribute.update(i_attribute)
      com_attribute = n_neighbor_attribute.intersection(one_event_attribute)
      if len(com_attribute) != 0:
        pred_numer += Sim[i][n]
      pred_denom += Sim[i][n]
      if pred_denom != 0:
        behind_plus = pred_numer / pred_denom
  pred[i][j] = R_a + behind_plus  
  if pred[i][j] > threshold:
    pred[i][j] = 1
  else:
    pred[i][j] = 0

In [ ]:
# matrix member-event, UE_test
UE_test = lil_matrix((max_member_id+1, max_event_id+1), dtype=np.int8)
for i in range(len(test_set_1)):
  UE_test_c = test_set_1.iloc[i]['event_id']
  UE_test_r_set = test_set_1.iloc[i]['yes_id']
  for j in range(len(UE_test_r_set)):
    UE_test_r = UE_test_r_set[j]
    UE_test[UE_test_r, UE_test_c] = 1
UE_test.toarray()

In [ ]:
# member_set and test_event_set
member_set = []
for i in range(member_amount):
  member_set.append(mt_df.iloc[i]['member_id'])
test_event_set = []
test_set_amount = len(test_set_1.index)
for i in range(test_set_amount):
  test_event_set.append(test_set_1.iloc[i]['event_id'])

In [ ]:
# evaluate result
UE_predict = pred
TP = 0
FP = 0
FN = 0
TN = 0
for i in range(member_amount):
  i_member_id = mt_df.iloc[i]['member_id']
  for j in range(test_set_amount):
    j_event_id = test_set_1.iloc[j]['event_id']
    if UE_predict[i, j] == 1:
      if UE_test[i, j] == 1:
        TP += 1
      else:
        FP += 1
    else:
      if UE_test[i, j] == 1:
        FN += 1
      else:
        TN += 1
Precision = 0
Recall = 0
Accuracy = 0
F1_score = 0
if TP+FP != 0:
  Precision = TP / (TP+FP)
if TP+FN != 0:
  Recall  =TP / (TP+FN)
if TP+TN+FP+FN != 0:
  Accuracy = (TP+TN) / (TP+TN+FP+FN)
if Precision+Recall != 0:
  F1_score = 2 * Precision * Recall / (Precision+Recall)