In [2]:
# import package
import os
import pandas as pd
import numpy as np
from scipy.sparse import lil_matrix
import math
import sys
import random

# mount colab on google drive
from google.colab import drive
drive.mount('/content/drive')

# change dir, root dir
os.chdir('/content')

# change dir, file dir
os.chdir('drive/My Drive/codes/socomp')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# read GroupTopic.txt
gt_lines = []
with open('GroupTopic.txt') as gt_f:
    gt_lines = gt_f.readlines()
gt_f.close()

group_id = []
group_organizer = []
group_attribute = []
gt_count = 1
for gt_line in gt_lines:
    if gt_count % 2 == 1:
      gt_id, gt_organizer = gt_line.split()
      group_id.append(int(gt_id[1:]))
      if gt_organizer == 'null':
        group_organizer.append(int(-1))
      else:
        group_organizer.append(int(gt_organizer[1:]))
    else:
      read_one_group_attribute = gt_line.split()
      num_group_attribute_list = []
      for i in range(len(read_one_group_attribute)):
        
        num_group_attribute_list.append(
            int(read_one_group_attribute[i][1:]))
        
      group_attribute.append(num_group_attribute_list)
    gt_count += 1

gt_data = zip(group_id, group_organizer, group_attribute)

gt_df = pd.DataFrame(
    gt_data, columns = ['group_id', 'group_organizer', 'group_attribute'])

gt_df = gt_df[gt_df['group_organizer'] != -1]
max_group_id = gt_df['group_id'].max()
group_amount = len(gt_df.index)
gt_df

     group_id  ...                                    group_attribute
0           0  ...  [85, 89, 124, 234, 738, 2527, 3007, 3135, 5915...
1           1  ...                                   [212, 512, 3554]
2           2  ...                                             [1566]
3           3  ...  [244, 309, 1322, 1502, 3336, 4422, 8649, 9816,...
4           4  ...      [638, 9753, 9772, 15067, 15984, 18874, 19061]
..        ...  ...                                                ...
477       477  ...                         [1429, 7929, 18340, 29702]
478       478  ...  [484, 1307, 2064, 3880, 6364, 10117, 15236, 15...
479       479  ...                        [9772, 10002, 10024, 10413]
480       480  ...  [1237, 1273, 1543, 10050, 10080, 10232, 17665,...
481       481  ...                    [389, 392, 10117, 10232, 15497]

[466 rows x 3 columns]

In [4]:
# read MemberTopic.txt
mt_lines = []
with open('MemberTopic.txt') as mt_f:
    mt_lines = mt_f.readlines()
mt_f.close()

member_id = []
member_attribute = []
mt_count = 1
for mt_line in mt_lines:
    if mt_count % 2 == 1:
      member_id.append(int(mt_line[1:-1]))
    else:
      read_one_member_attribute = mt_line.split()
      num_member_attribute_list = []
      for i in range(len(read_one_member_attribute)):
        
        num_member_attribute_list.append(
            int(read_one_member_attribute[i][1:]))
        
      member_attribute.append(num_member_attribute_list)
    mt_count += 1

mt_data = zip(member_id, member_attribute)

mt_df = pd.DataFrame(
    mt_data, columns = ['member_id', 'member_attribute'])

mt_df = mt_df[mt_df.astype(str)['member_attribute'] != '[]']
max_member_id = mt_df['member_id'].max()
member_amount = len(mt_df.index)
mt_df

       member_id                                   member_attribute
0              0                                       [10485, 498]
1              1  [1201, 914, 933, 638, 590, 726, 242, 1724, 158...
2              2  [10495, 9753, 491, 1201, 638, 2926, 15892, 229...
3              3                               [11660, 11046, 2151]
4              4  [1201, 933, 230, 2899, 1755, 3282, 1923, 228, ...
...          ...                                                ...
73677      73677                                            [10050]
73680      73680  [1155, 17195, 60, 17866, 10232, 17030, 713, 24...
73681      73681  [240, 3336, 495, 22440, 29431, 16551, 4422, 24...
73682      73682  [6761, 6490, 1526, 1307, 1330, 2088, 2064, 445...
73684      73684  [22320, 10277, 2016, 9131, 2929, 1489, 1246, 1...

[47289 rows x 2 columns]

In [5]:
# read Group-Event folder
group_event_id = []
event_id = []
event_limit = []
event_time = []
event_organizer = []
yes_id = []
no_id = []
maybe_id = []
root = "./GroupEvent"
for i in range(0, 482):
  file = "G" + str(i) + ".txt"
  full_path = os.path.join(root, file)
  ge_group_id = file[:-4]
  with open(full_path) as ge_f:
    ge_lines = ge_f.readlines()
  ge_f.close()
  ge_count = 0
  for ge_line in ge_lines:
    ge_count += 1
    if ge_count % 5 == 0:
      maybe_id.append(ge_line.split())
    elif ge_count % 4 == 0:
      read_one_no_id = ge_line.split()
      num_no_id_list = []
      for i in range(len(read_one_no_id)):
        if read_one_no_id[i] != 'null':
          num_no_id_list.append(int(read_one_no_id[i][1:]))
      no_id.append(num_no_id_list)
    elif ge_count % 3 == 0:
      read_one_yes_id = ge_line.split()
      num_yes_id_list = []
      for i in range(len(read_one_yes_id)):
        if read_one_yes_id[i] != 'null':
          num_yes_id_list.append(int(read_one_yes_id[i][1:]))
      yes_id.append(num_yes_id_list)
    elif ge_count % 2 == 0:
      event_organizer.append(ge_line.split())
    else:
      ge_event_id, ge_event_limit, ge_event_time = ge_line.split()
      event_id.append(int(ge_event_id[1:]))
      event_limit.append(ge_event_limit)
      event_time.append(ge_event_time)
      group_event_id.append(int(ge_group_id[1:]))
    if ge_count == 5:
      ge_count = 0

ge_data = zip(
    group_event_id, event_id, event_limit, event_time, 
    event_organizer, yes_id, no_id, maybe_id)

ge_df = pd.DataFrame(
    ge_data, columns = [
      'group_id', 'event_id', 'event_limit', 'event_time', 
      'event_organizer', 'yes_id', 'no_id', 'maybe_id'])

ge_df[['event_limit', 'event_time']] = ge_df[
  ['event_limit', 'event_time']].astype(int)

# remove column maybe_id
ge_df = ge_df.drop('maybe_id', 1)

# remove column event_organizer
ge_df = ge_df.drop('event_organizer', 1)

# remove rows that yes_id==null && no_id==null
ge_df = ge_df[
  (ge_df.astype(str)['yes_id'] != '[]') & 
  (ge_df.astype(str)['no_id'] != '[]')]

max_event_id = ge_df['event_id'].max()
event_amount = len(ge_df.index) 
ge_df

       group_id  ...                                              no_id
0             0  ...                                            [65542]
1             0  ...                                     [46348, 49649]
2             0  ...                       [58371, 65542, 68509, 70851]
4             0  ...                                            [51822]
5             0  ...                                            [65542]
...         ...  ...                                                ...
55391       481  ...                       [33527, 53621, 63290, 64179]
55392       481  ...                [34367, 62320, 65316, 66040, 66317]
55393       481  ...                       [33527, 53621, 59324, 64777]
55394       481  ...  [23171, 24596, 43301, 45326, 46134, 52699, 593...
55395       481  ...  [31351, 33527, 38405, 42928, 45326, 52910, 593...

[44884 rows x 6 columns]

In [6]:
# randomly shuffle the rows of ge_df
ge_df = ge_df.sample(frac=1)

# split ge_df into 5 parts
p1, p2, p3, p4, p5 = np.array_split(ge_df, 5)

# train_set_1, test_set_1
train_frames_1 = [p2, p3, p4, p5]
train_set_1 = pd.concat(train_frames_1)
test_set_1 = p1

train_frames_2 = [p1, p3, p4, p5]
train_set_2 = pd.concat(train_frames_2)
test_set_2 = p2

train_frames_3 = [p1, p2, p4, p5]
train_set_3 = pd.concat(train_frames_3)
test_set_3 = p3

train_frames_4 = [p1, p2, p3, p5]
train_set_4 = pd.concat(train_frames_4)
test_set_4 = p4

train_frames_5 = [p1, p2, p3, p4]
train_set_5 = pd.concat(train_frames_5)
test_set_5 = p5

train_set_1

       group_id  ...                                              no_id
12031       168  ...  [22898, 26691, 30584, 36130, 36394, 39070, 490...
43506       366  ...  [18868, 70255, 70070, 63975, 72492, 72542, 64235]
24626       253  ...                                            [20107]
13800       180  ...                       [32887, 52421, 55440, 59283]
20308       225  ...  [21345, 28356, 29523, 35191, 38266, 47979, 708...
...         ...  ...                                                ...
41650       347  ...  [63308, 16634, 19536, 29896, 30398, 32644, 372...
48030       410  ...  [23179, 28746, 33675, 40175, 43267, 55088, 690...
49789       429  ...  [45569, 61589, 63032, 71829, 1140, 3570, 6458,...
9822        151  ...  [13600, 27294, 36122, 57585, 61693, 64310, 732...
18922       216  ...                                      [72661, 9528]

[35907 rows x 6 columns]

In [7]:
# matrix member-event, UE_train
UE_train = lil_matrix((max_member_id+1, max_event_id+1), dtype=np.int8)
for i in range(len(train_set_1)):
  UE_train_c = train_set_1.iloc[i]['event_id']
  UE_train_r_set = train_set_1.iloc[i]['yes_id']
  for j in range(len(UE_train_r_set)):
    UE_train_r = UE_train_r_set[j]
    UE_train[UE_train_r, UE_train_c] = 1
UE_train.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int8)

In [8]:
# group_attribute_set
group_attribute_set = []
for i in range(group_amount):
  one_group_attribute = gt_df.iloc[i]['group_attribute']
  for j in range(len(one_group_attribute)):
    if one_group_attribute[j] not in group_attribute_set:
      group_attribute_set.append(one_group_attribute[j])
print(len(group_attribute_set))

1132

In [9]:
# member_attribute_set
member_attribute_set = []
for i in range(member_amount):
  one_member_attribute = mt_df.iloc[i]['member_attribute']
  for j in range(len(one_member_attribute)):
    if one_member_attribute[j] not in member_attribute_set:
      member_attribute_set.append(one_member_attribute[j])
print(len(member_attribute_set))

17106

In [10]:
# member and group common attribute
gm_common_attribute = list(
    set(group_attribute_set).intersection(member_attribute_set))
print(len(gm_common_attribute))

1110

In [11]:
# remove member_attribute (not in gm_common_attribute)
new_member_id = []
new_member_attribute = []
for i in range(member_amount):
  new_member_id.append(mt_df.iloc[i]['member_id'])
  old_member_attribute = mt_df.iloc[i]['member_attribute']
  one_new_member_attribute = list(
    set(gm_common_attribute).intersection(old_member_attribute))
  new_member_attribute.append(one_new_member_attribute)

In [12]:
# new mt_df, member and topic
mt_data = zip(new_member_id, new_member_attribute)

mt_df = pd.DataFrame(
    mt_data, columns = ['member_id', 'member_attribute'])

In [13]:
# re-caculate member_attribute_set
member_attribute_set = []
for i in range(member_amount):
  one_member_attribute = mt_df.iloc[i]['member_attribute']
  for j in range(len(one_member_attribute)):
    if one_member_attribute[j] not in member_attribute_set:
      member_attribute_set.append(one_member_attribute[j])
print(len(member_attribute_set))

1110

In [14]:
# matrix group-topic, GT
max_group_attribute_id = max(group_attribute_set)
GT= lil_matrix((max_group_id+1, max_group_attribute_id+1), dtype=np.int8)
for i in range(group_amount):
  GT_r = gt_df.iloc[i]['group_id']
  GT_c_set = gt_df.iloc[i]['group_attribute']
  for j in range(len(GT_c_set)):
    GT_c = GT_c_set[j]
    GT[GT_r, GT_c] = 1
GT.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int8)

In [15]:
# matrix member-topic, UT
max_member_attribute_id = max(member_attribute_set)
UT=lil_matrix((max_member_id+1, max_member_attribute_id+1), dtype=np.int8)
for i in range(member_amount):
  UT_r = mt_df.iloc[i]['member_id']
  UT_c_set = mt_df.iloc[i]['member_attribute']
  for j in range(len(UT_c_set)):
    UT_c = UT_c_set[j]
    UT[UT_r, UT_c] = 1
# UT.toarray()
# UT_df = pd.DataFrame(data=lil_matrix.todense(UT))
# UT_df.to_csv('UT.csv', index=False)

In [16]:
# matrix group_event, GE
GE = lil_matrix((max_group_id+1, max_event_id+1), dtype=np.int8)
for i in range(event_amount):
  GE_r = ge_df.iloc[i]['group_id']
  GE_c = ge_df.iloc[i]['event_id']
  GE[GE_r, GE_c] = 1
GE.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int8)

In [17]:
# TU_table, topic and member_set
member_set = [[] for i in range(len(member_attribute_set))]
for i in range(member_amount):
  TU_member_attribute_set = mt_df.iloc[i]['member_attribute']
  TU_member_id = mt_df.iloc[i]['member_id']
  for j in range(len(TU_member_attribute_set)):
    TU_member_attribute = TU_member_attribute_set[j]
    member_set_index = member_attribute_set.index(TU_member_attribute)
    member_set[member_set_index].append(TU_member_id)
   
tu_data = zip(member_attribute_set, member_set)

tu_df = pd.DataFrame(
    tu_data, columns = ['member_attribute', 'member_set'])
tu_df

      member_attribute                                         member_set
0                  498  [0, 35, 37, 62, 86, 158, 159, 184, 186, 189, 1...
1                10485  [0, 432, 475, 692, 908, 1251, 1393, 1400, 1800...
2                 2926  [1, 2, 158, 163, 293, 689, 816, 835, 902, 926,...
3                  933  [1, 4, 20, 26, 29, 111, 133, 152, 163, 169, 21...
4                  230  [1, 4, 91, 96, 172, 260, 432, 433, 519, 770, 8...
...                ...                                                ...
1105             27333                                            [44388]
1106             18409                                            [45111]
1107             22511                                     [45941, 70762]
1108             39519                                            [63026]
1109              3806                                            [71677]

[1110 rows x 2 columns]

In [18]:
# matrix UTS
UTS_random_size = 10
UTS = lil_matrix((max_member_id+1, max_member_id+1), dtype=np.float16)
# for j in range(member_amount):
for x in range(UTS_random_size):
  j = random.choice(range(member_amount))
  j_attribute = mt_df.iloc[j]['member_attribute']
  j_member_id = mt_df.iloc[j]['member_id']
  for i in range(len(j_attribute)):
    member_set_index = member_attribute_set.index(j_attribute[i])
    k_member_set = member_set[member_set_index]
    for k in range(len(k_member_set)):
      k_member_id = k_member_set[k]
      if UTS[j_member_id, k_member_id] == 0:
        k_member_index = new_member_id.index(k_member_id)
        k_attribute = new_member_attribute[k_member_index]

        common_attribute = list(
            set(j_attribute).intersection(k_attribute))
        
        UTS_j_k = float(len(common_attribute)) / (
            len(j_attribute) + len(k_attribute) - len(common_attribute))
        
        UTS[j_member_id, k_member_id] = UTS_j_k
        UTS[k_member_id, j_member_id] = UTS_j_k
# UTS.toarray()

In [19]:
# matrix Sim
train_set_amount = len(train_set_1.index)
Sim_random_size = 5
x_Sim_random_size = Sim_random_size
Sim = lil_matrix((max_member_id+1, max_member_id+1), dtype=np.float16)
# for i in range(member_amount):
#   for j in range(member_amount):
for x in range(x_Sim_random_size):
  for y in range(Sim_random_size):
    i = random.choice(range(max_member_id+1))
    j = random.choice(range(max_member_id+1))
    sum_R_a = 0
    sum_R_b = 0
    for m in range(max_event_id+1):
      sum_R_a += UE_train[i, m]
      sum_R_b += UE_train[j, m]
    R_a = float(sum_R_a) / train_set_amount
    R_b = float(sum_R_b) / train_set_amount
    sim_numer = 0
    sim_denom_1 = 0
    sim_denom_2 = 0
    for n in range(max_event_id+1):
       sim_numer += ((UE_train[i, n] - R_a) * (UE_train[j, n] - R_b))
       sim_denom_1 += (UE_train[i, n] - R_a) ** 2
       sim_denom_2 += (UE_train[j, n] - R_b) ** 2
    sim_denom = math.sqrt(sim_denom_1) * math.sqrt(sim_denom_2)
    if sim_numer == 0 or sim_denom == 0: 
      behind_plus = 0
    else:
      behind_plus = float(sim_numer) / float(sim_denom)
    Sim[i, j] = UTS[i, j] + behind_plus
    Sim[j, i] = Sim[i, j]
  x_Sim_random_size -= 1
# Sim.toarray()

In [20]:
# Neighbor(a)
Neighbor_random_size = 3
index_member_id = []
for i in range(member_amount):
  index_member_id.append(mt_df.iloc[i]['member_id'])
K = 10
exist_member = len(index_member_id)
exist_k_set = [[] for i in range(exist_member)]
# for i in range(exist_member):
for i in range(Neighbor_random_size):
  i_id = index_member_id[i]
  index = index_member_id.index(i_id)
  unsorted_zip_list = []
  for j in range(exist_member):
    j_id = index_member_id[j]
    Sim_tuple = (j_id, Sim[i_id, j_id])
    unsorted_zip_list.append(Sim_tuple)
  
  sorted_zip_list = sorted(
      unsorted_zip_list, key=lambda x: x[1], reverse=True)
  
  for j in range(K):
    exist_k_set[index].append(sorted_zip_list[j][0])

In [21]:
# matrix member-event, UE_test
UE_test = lil_matrix((max_member_id+1, max_event_id+1), dtype=np.int8)
for i in range(len(test_set_1)):
  UE_test_c = test_set_1.iloc[i]['event_id']
  UE_test_r_set = test_set_1.iloc[i]['yes_id']
  for j in range(len(UE_test_r_set)):
    UE_test_r = UE_test_r_set[j]
    UE_test[UE_test_r, UE_test_c] = 1
UE_test.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int8)

In [22]:
# member_set and test_event_set
member_set = []
for i in range(member_amount):
  member_set.append(mt_df.iloc[i]['member_id'])
test_event_set = []
test_set_amount = len(test_set_1.index)
for i in range(test_set_amount):
  test_event_set.append(test_set_1.iloc[i]['event_id'])

In [23]:
# matrix pred
threshold = 0.5
pred = lil_matrix((max_member_id+1, max_event_id+1), dtype=np.float16)
# for i in range(member_amount):
for i in range(3):
  a_id = mt_df.iloc[i]['member_id']

  a_attribute_index = new_member_id.index(a_id)
  a_attribute = new_member_attribute[a_attribute_index]

  index = index_member_id.index(a_id)
  neighbors = exist_k_set[index]

  sum_R_a = 0
  for m in range(test_set_amount):
    one_event_id = test_event_set[m]
    sum_R_a += UE_test[i, one_event_id]
  R_a = float(sum_R_a) / test_set_amount

  for j in range(test_set_amount):
    j_event_id = test_set_1.iloc[j]['event_id']
    pred_numer = 0
    pred_denom = 0
    behind_plus = 0
    for n in range(K):
      b_id = neighbors[n]
      b_attribute_index = new_member_id.index(b_id)
      b_attribute = new_member_attribute[b_attribute_index]
      ab_attribute = a_attribute + b_attribute
      j_event_index = event_id[j_event_id]
      j_group_id = group_event_id[j_event_index]
      event_attribute = group_attribute[j_group_id]
      
      event_ab_common_attribute = list(
          set(ab_attribute).intersection(event_attribute))
      
      if len(event_ab_common_attribute) != 0:
        pred_numer += Sim[a_id, b_id]

      pred_denom += Sim[a_id, b_id]

      if pred_denom != 0:
        behind_plus = float(pred_numer) / float(pred_denom)
      
  pred[i, j] = R_a + behind_plus  
  if pred[i, j] > threshold:
    pred[i, j] = 1
  else:
    pred[i, j] = 0

# pred.toarray()

In [27]:
# evaluate result
UE_predict = pred
TP = 0
FP = 0
FN = 0
TN = 0
# for i in range(member_amount):
for i in range(1):
  i_member_id = mt_df.iloc[i]['member_id']
  for j in range(test_set_amount):
    j_event_id = test_set_1.iloc[j]['event_id']
    if UE_predict[i, j] == 1:
      if UE_test[i, j] == 1:
        TP += 1
      else:
        FP += 1
    else:
      if UE_test[i, j] == 1:
        FN += 1
      else:
        TN += 1
Precision = 0
Recall = 0
Accuracy = 0
F1_score = 0
if TP+FP != 0:
  Precision = TP / (TP+FP)
if TP+FN != 0:
  Recall  =TP / (TP+FN)
if TP+TN+FP+FN != 0:
  Accuracy = (TP+TN) / (TP+TN+FP+FN)
if Precision+Recall != 0:
  F1_score = 2 * Precision * Recall / (Precision+Recall)